.upload-list {
  padding: 0 0 $spaceL2 0;
  border-bottom: solid 1px $lightBorder;
  margin: 0 0 $spaceL2 0;
  list-style-type: none;

  @media screen and (min-width: $bpS) {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc(50% - #{$spaceS2});

      &:nth-child(odd) {
        margin-right: $spaceS2;
      }

      &:nth-child(even) {
        margin-left: $spaceS2;
      }
    }
  }

  @media screen and (min-width: $bpL) {
    &__item {
      width: calc(100%/3 - #{$spaceS2}*4/3);

      &:nth-child(3n+1) {
        margin-right: $spaceS2;
        margin-left: 0;
      }

      &:nth-child(3n+2) {
        margin-right: $spaceS2;
        margin-left: $spaceS2;
      }

      &:nth-child(3n) {
        margin-right: 0;
        margin-left: $spaceS2;
      }
    }
  }
}
