.addButton {
  box-sizing: border-box;
  width: 7.059em;
  height: 7.059em;
  padding: $spaceS2;
  flex-grow: 0;
  border: dashed 1px $accentedBorder;
  margin: $spaceS2;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all .16s cubic-bezier(.69,.19,.71,.87);

  &:hover,
  &:focus,
  &:active {
    background-color: $turquoiseLowAlpha;

    .addButton__icon-container {
      background-color: $turquoise;
    }
  }

  &__link {
    color: $textColor;
    text-decoration: none;
  }

  &__icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    fill: none;
    stroke: $textColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-container {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      margin: $spaceS2 auto $spaceBase auto;
      position: relative;
      background-color: $turquoiseLowAlpha;
      border-radius: 50%;
      transition: all .16s cubic-bezier(.69,.19,.71,.87);
    }
  }
}


//appear animation

.v {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(3rem);
  }

  &-enter-active {
    transition: transform .4s ease-out, opacity .75s ease-out;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-leave-active {
    transition: opacity .4s ease-in, transform 0s ease-in .4s;
  }
}
