%text {
  font-family: $fonts;
  letter-spacing: $lsBase;
  line-height: $lhBase;

  &--base {
    font-size: $fsBase;
    font-weight: $fwBase;
  }

  &--small {
    font-size: $fsS1;
    font-weight: $fwBase;
  }

  &--strong {
    font-size: $fsBase;
    font-weight: $fwLarge;
  }

  &--link {
    font-size: $fsBase;
    font-weight: $fwMedium;
    color: $linkColor;
  }
}

%title {
  font-weight: $fwBase;
  line-height: $lhS1;

  &--main {
    font-size: $fsL3;
    letter-spacing: $lsS2;
  }

  &--second {
    font-size: $fsL2;
    letter-spacing: $lsS1;
  }

  &--minor {
    font-size: $fsL1;
    letter-spacing: $lsS1;
  }
}

%code {
  font-family: $fontsMonospace;
  font-size: $fsS1;
  letter-spacing: $lsBase;
  line-height: $lhBase;
  color: $secondaryTextColor;
}
