$focusColor: $linkColor;

.input {
  &-text {
    box-sizing: border-box;
    padding: $spaceS3 $spaceBase;
    border: solid 1px $lightBorder;
    font-family: inherit;
    border-radius: 3px;
    box-shadow: inset 0 0 0 fade-out($focusColor, 0.85);
    transition: all .16s cubic-bezier(.69,.19,.71,.87);

    &:focus,
    &:active {
      border-color: $accentedBorder;
      background-color: $lightPrimaryBackground;
      outline: dotted 1px fade-out($textColor, 0.85);
      box-shadow: inset 1px 2px 0 fade-out($focusColor, 0.85);

      ~.input-text-label {
        font-weight: $fwMedium;
        color: $focusColor;
      }
    }

    &-row {
      margin-bottom: $spaceBase;
      display: flex;
      flex-direction: column-reverse;
    }

    &-label {
      @extend %text--small;

      display: inline-block;
      margin-bottom: $spaceS3;
      color: $secondaryTextColor;
    }
  }

  &-box {
    &-label {
      flex-grow: 1;
      padding: $spaceS2 0 $spaceS2 $spaceS2;
    }

    &-row {
      display: flex;
      margin-bottom: $spaceS2;
    }
  }
}
