.icon {
    display: inline-block;
    box-sizing: border-box;
    width: 7.059em;
    height: 7.059em;
    padding: $spaceS2;
    vertical-align: middle;
    list-style-type: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: all .16s cubic-bezier(.69,.19,.71,.87);

    &:hover,
    &:focus,
    &:active {
      background-color: $lightBackground;
    }

    &--selected {
      background-color: $lightBackground;
      border: solid 1px $accentedBorder;
    }

    &__visual {
        width: 2rem;
        height: 2rem;
        margin: $spaceS2 0;
        fill:none;
        stroke-linejoin:round;
        stroke-linecap:round;
        stroke: $textColor;
    }

    &__name {
        display: block;
        word-wrap: break-word;
    }

    &-list {
        padding: 0;
        margin: 0 $spaceS2;

        &__item {
            margin: $spaceS2;
        }
    }
}
