@mixin code-theme($tag-name) {
  #{$tag-name}[class*="language-"] {
    @extend %code;

    color: $textColor;
    background-color: $lightestBackground;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    text-shadow: none;

    &::selection,
    & ::selection {
      text-shadow: none;
      background-color: $lightPrimaryBackground;
    }

    @media print {
      #{$tag-name}[class*="language-"] {
        text-shadow: none;
      }
    }
  }
}

@include code-theme(pre);
@include code-theme(code);

/* Code blocks */
pre[class*="language-"] {
  padding: $spaceS2;
  margin: 0;
  border: solid 1px $lightBorder;
  border-radius: 3px;
  overflow-x: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: $lightestBackground;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: $spaceS3;
	border-radius: 3px;
	white-space: normal;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $secondaryTextColor
  }

  &.punctuation {
    color: $infoMedium;
  }

  &.namespace {
    opacity: .85;
  }

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: $errorMedium;
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: $successMedium;
  }

  &.operator,
  &.entity,
  &.url {
    color: $warningDark;
    background: $nurse;
  }

  &.atrule,
  &.attr-value,
  &.keyword {
  	color: $linkColor;
  }

  &.function {
    color: $errorDark;
  }

  &.regex,
  &.important,
  &.variable {
    color: $warningMedium;
  }

  &.entity {
    cursor: help;
  }
}

.language-css,
.style {
  .token-string {
    color: $warningDark;
    background: $nurse;
  }
}
