.login-form {
  box-sizing: border-box;
  max-width: 20rem;
  padding: $spaceBase $spaceBase $spaceL1;
  margin: 0 auto;

  &__input {
    display: block;
    width: 100%;
  }

  &__footer {
    margin-top: $spaceL2;
  }

  &__btn {
    display: block;

    &--password {
      padding-left: 0;
      padding-right: 0;
      margin-top: $spaceBase;
    }
  }

  @media screen and (min-width: $bpXS) {
    border: solid 1px $lightBorder;
    background-color: $lightBackground;
    border-radius: 3px;

    &__input {
      background-color: $lightestBackground;
    }
  }
}
