.login-form {
  box-sizing: border-box;
  max-width: 20rem;
  padding: $spaceBase;
  margin: 0 auto;

  &__input {
    display: block;
    width: 100%;
  }

  &__footer {
    margin-top: $spaceL2;
  }

  &__btn {
    display: block;

    &--password {
      padding-left: 0;
      padding-right: 0;
      margin-top: $spaceBase;
    }
  }
}
