.icon {
    display: block;
    box-sizing: border-box;
    width: $sizeIconBlock;
    height: $sizeIconBlock;
    padding: $spaceS2;
    border: solid 1px transparent;
    background-color: transparent;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    transition: all .16s cubic-bezier(.69,.19,.71,.87);

    &:hover,
    &:focus,
    &:active {
      background-color: $lightBackground;
    }

    &:focus {
      outline: dotted 1px fade-out($textColor, 0.85);
    }

    &--selected {
      background-color: $lightBackground;
      border: solid 1px $accentedBorder;
    }

    &-container {
      margin: $spaceS2;
      flex-grow: 0;
    }

    &__visual {
        display: inline-block;
        width: $sizeIconBase;
        height: $sizeIconBase;
        margin: 0 0 $spaceS2 0;
        color: transparent;
        fill:none;
        stroke-linejoin:round;
        stroke-linecap:round;
        stroke: $textColor;

    }

    &__name {
        display: block;
        word-wrap: break-word;
    }
}


//appear animation

.v {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(3rem);
  }

  &-enter-active {
    --delay: calc(var(--idx) * .1s + .1s);
    transition: transform .4s ease-out var(--delay), opacity .75s ease-out var(--delay);
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-leave-active {
    transition: opacity .4s ease-in, transform 0s ease-in .4s;
  }
}
