@import "src/styles/variables/_variables";

.header {
    background-color: $darkBackground;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        display: inline-block;
        font-weight: normal;

        &-logo {
          display: inline-block;
        }

        &-app-name {
          color: $reverseTextColor;
          font-size: $fsL2;

          &--colored {
              color: $turquoiseBlue;
              margin-left:5px;
          }
        }
    }
}
