.header {
    background-color: $darkBackground;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;

    &__title {
        display: flex;
        align-self: stretch;
        padding: 0;
        margin: 0;

        &-link {
          display: flex;
          align-self: stretch;
          padding: 0 0 0 $spaceBase;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
        }

        &-logo {
          display: inline-block;
          height: $fsL1;
        }

        &-app-name {
          display: none;

          @media screen and (min-width: $bpS) {
            display: inline-block;
            padding-left: $spaceBase;
            border-left: solid 2px $reverseTextColor;
            font-weight: $fwBase;
            color: $reverseTextColor;
            font-size: $fsL1;

            &--colored {
                color: $brandPrimary;
            }
          }
        }
    }
}
