.download-get-code {
  margin-bottom: $spaceL2;

  &:last-child {
    margin-bottom: 0;
  }

  &__visual {
      display: inline-block;
      width: $sizeIconBase;
      height: $sizeIconBase;
      margin-right: $spaceS2;
      color: transparent;
  }

  &__name {
    @extend %text;
    @extend %text--base;

    margin: 0 0 $spaceS2 0;
  }
}
