//TODO
/*

include here
normalize.css OR include sanitize.css

https://necolas.github.io/normalize.css/

https://jonathantneal.github.io/sanitize.css/

Then create base theme style:
body styles , fonts, color variables.

*/

@import "src/styles/variables/_spaces";
@import "src/styles/variables/_colors";
@import "src/styles/variables/_fonts";


body {
    padding: 0;
    margin:0;
    font-family: $fonts;
    font-size: 100%;
}
