.download-panel {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: $lightBackground;
  transition: height .24s cubic-bezier(.69,.19,.71,.87);

  &--minimized {
    .download-panel {
      &__content {
        padding: $spaceBase;
        text-align: center;
      }
      &__title {
        margin-bottom: $spaceS2;
      }
    }
  }

  &--maximized {
    .download-panel {
      &__content {
        display: flex;
        height: 100vh;
        padding: 0;
        flex-direction: column;
        text-align: left;
        overflow-y: auto;
      }
      &__header {
        display: flex;
        flex-grow: 0;
        padding: $spaceBase;
        flex-direction: row;
        align-items: center;
      }

      &__title {
        @extend %title;
        @extend %title--second;

        display: inline-block;
        margin: 0;
      }

      &__body {
        flex-grow: 1;
        padding: 0 $spaceBase;
        overflow-y: auto;
      }

      &__footer {
        padding: $spaceBase;
        flex-grow: 0;
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: fade-out($darkestBackground, .15);
  }

  &__button {
    margin: 0 $spaceS2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $bpS) {
    width: 30rem;

    &--minimized {
      .download-panel {
        &__content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        &__title {
          margin-bottom: 0;
        }
      }
    }

    &--maximized {
      .download-panel {
        &__content {
          flex-direction: column;
          justify-content: normal;
          align-items: normal;
        }
      }
    }
  }
}

//transitions

.download-panel-overlay {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    transition: opacity .16s ease-out;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }

  &-leave-active {
    transition: opacity .16s ease-in;
  }
}

.v {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    transition: opacity .16s ease-out;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }

  &-leave-active {
    transition: opacity .16s ease-in;
  }
}
